* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.auth-page {
  min-height: 100vh;
  display: flex;
}

.auth-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.auth-background {
  flex: 1;
  background-color: purple;
}

/* @media (min-width: 1024px) {
  .auth-background {
    display: block;
  }
} */

.auth-card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 100%;
  max-width: 450px;
  padding: 2rem;
}

.auth-header {
  text-align: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: purple;
  text-decoration: none;
}

.auth-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  /* color: black; */
}

.auth-subtitle {
  color: gray;
}

.form-group {
  margin-bottom: 1rem;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid gray;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.forgot-password {
  font-size: 0.85rem;
  color: purple;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
  cursor: pointer;
}

.remember-me {
  margin: 0.5rem 0;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: gray;
  user-select: none;
  gap: 0.2rem;
}

.auth-button {
  background-color: purple;
  color: white;
  font-weight: 600;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 300ms;
  margin-top: 0.5rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-button:hover {
  background-color: darkgreen;
}

.auth-footer {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1rem;
  color: gray;
}

.auth-link {
  color: purple;
  text-decoration: none;
  font-weight: 500;
}

.auth-link:hover {
  text-decoration: underline;
}

.password-hint {
  font-size: 0.75rem;
  color: gray;
  margin-top: 0.25rem;
}